* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #021526;
  --second-bg-color: #03346e;
  --text-color: #e2e2b6;
  --main-color: #6eacda;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon {
  font-size: 3rem;
  color: var(--main-color);
  display: none;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3 ease-in-out;
  -webkit-transition: 0.3 ease-in-out;
  -moz-transition: 0.3 ease-in-out;
  -ms-transition: 0.3 ease-in-out;
  -o-transition: 0.3 ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}
span {
  background: linear-gradient(135deg, #6eacda, #e2e2b6);
  background-clip: text;
  color: transparent;
}
.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.gradient-btn {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(135deg, #6eacda, #e2e2b6);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: #021526;
  border: none;
  text-wrap: nowrap;
}

.gradient-btn:hover {
  transform: scale(1.05);
}
section {
  min-height: 100vh;
  padding: 10rem 15%;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-content h3 {
  margin: 1rem 0;
  font-size: 4rem;
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}
.home-img img {
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.home-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}
.home-img img {
  display: block;
  width: 32vw;
  height: 32vw;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  -webkit-transform: scale(1.2) translateY(-5px);
  -moz-transform: scale(1.2) translateY(-5px);
  -ms-transform: scale(1.2) translateY(-5px);
  -o-transform: scale(1.2) translateY(-5px);
}
.btn-group {
  display: flex;
  gap: 1.5rem;
}
.btn {
  display: flex; /* Menggunakan flexbox untuk konten tombol */
  justify-content: center; /* Menyelaraskan teks ke tengah secara horizontal */
  align-items: center; /* Menyelaraskan teks ke tengah secara vertikal */
  padding: 1rem 2rem; /* Menyelaraskan padding tombol */
  font-size: 1.5rem; /* Menetapkan ukuran font */
  font-weight: 600; /* Berat font */
  border-radius: 1rem; /* Menyediakan sudut yang membulat */
  background-color: var(--main-color); /* Warna latar belakang tombol */
  box-shadow: 0 0 25rem var(--main-color); /* Memberikan efek bayangan */
  color: var(--bg-color); /* Warna teks */
  text-align: center; /* Menyelaraskan teks secara horizontal */
  cursor: pointer; /* Mengubah kursor menjadi pointer */
  transition: 0.3s ease; /* Animasi transisi */
  border: 2px solid transparent; /* Menghilangkan border */
  margin-top: 2px; /* Memberikan jarak atas */
  min-height: 50px; /* Menyediakan tinggi minimum agar tombol seragam */
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color), 0 0 25px var(--main-color), 0 0 25px var(--main-color);
}
.btn-group a:nth-last-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}
.about-img img {
  width: 32vw;
  border: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.about-img img:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}
.about-content h2 {
  font-size: 7rem;
  text-align: left;
}
.about-content p {
  font-size: 1.9rem;
  text-align: justify;
}
.about-content .btn {
  margin: 3rem 0;
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
/* Mengatur tampilan judul utama Professional Experience*/
.heading {
  text-align: center; /* Mengatur teks agar berada di tengah */
  font-size: 6rem; /* Ukuran font untuk heading */
  margin: 1rem 0; /* Margin atas dan bawah untuk heading */
}
/* Mengatur section utama */
.timeline-section {
  padding: 2rem 1rem;
  background-color: var(--bg-color); /* Warna latar belakang section */
  display: flex;
  justify-content: center;
}
/* Kontainer grid untuk timeline */
.timeline-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dua kolom */
  gap: 2rem; /* Jarak antar kolom */
  width: 100%;
  max-width: 1200px;
  color: black;
}
.timeline-grid h2 {
  font-size: 3.5rem;
  color: var(--text-color);
}

/* Kolom kiri dan kanan */
.timeline-column {
  position: relative;
  padding: 2rem;
}

/* Timeline item */
.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  position: relative; /* Perlu agar timeline-circle tidak keluar */
}

/* Garis vertikal di sebelah kiri */
.timeline-line {
  width: 4px;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

/* Lingkaran di setiap poin */
.timeline-circle {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); /* Posisikan lingkaran di tengah garis */
  top: 0; /* Sesuaikan posisi lingkaran dengan garis */
  z-index: 1;
}

/* Konten timeline */
.timeline-content {
  margin-left: 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  border-radius: 1rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}
.timeline-content:hover {
  background: var(--second-bg-color);
  color: var(--main-color);
  border: 5px solid var(--main-color);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}
/* Heading dalam timeline */
.timeline-content h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.timeline-content h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

/* Teks deskripsi */
.timeline-content p {
  font-size: 1.5rem;
}
.timeline-content li {
  font-size: 1.5rem;
}

/* Grid untuk kolom kiri */
.left-column .timeline-line {
  left: 0%; /* Garis berada di tengah kolom kiri */
}

/* Grid untuk kolom kanan */
.right-column .timeline-line {
  left: 0%; /* Garis berada di tengah kolom kanan */
}

/* Mengatur tampilan heading utama SKILS*/
.heading {
  text-align: center; /* Teks berada di tengah */
  font-size: 8rem; /* Ukuran font heading */
  margin: 5rem 0; /* Jarak atas dan bawah heading */
}

/* Mengatur tampilan bagian skills */
.skills {
  background-color: var(--second-bg-color); /* Warna latar belakang bagian skills */
  color: var(--main-color); /* Warna teks default */
}

/* Mengatur tampilan judul pada bagian skills */
.skills h2 {
  color: var(--text-color); /* Warna teks judul diambil dari variabel */
}

/* Kontainer untuk bagian skills, menggunakan grid */
.skills-container {
  display: grid; /* Menggunakan grid layout */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Kolom otomatis dengan lebar minimum 300px */
  align-items: center; /* Menyelaraskan item secara vertikal */
  gap: 1rem; /* Jarak antar elemen dalam grid */
}

/* Mengatur tampilan kotak skill */
.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  height: 100px;
  border-radius: 3rem;
  cursor: pointer;
  border: 5px solid transparent;
  transition: 0.4s ease-in-out;
}

/* Efek hover pada kotak skill */
.skills-box:hover {
  background: var(--main-color); /* Warna latar berubah saat hover */
  color: var(--second-bg-color); /* Warna teks berubah sesuai variabel */
  border: 5px solid var(--text-color); /* Border berubah warna */
  transform: scale(1.03); /* Sedikit membesar saat hover */
  /* Kompatibilitas untuk transformasi di berbagai browser */
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}

/* Bagian informasi pada kotak skill */
.skills-info {
  display: flex; /* Menggunakan flexbox untuk menyusun ikon dan teks secara horizontal */
  flex-direction: row; /* Menyusun elemen secara horizontal */
  text-align: center; /* Teks berada di tengah */
  justify-content: center; /* Menyelaraskan elemen secara vertikal */
  align-items: center; /* Menyelaraskan elemen secara horizontal */
  padding: 2rem; /* Menambahkan ruang dalam kotak */
}
.skills-info img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

/* Judul dalam kotak skill */
.skills-info h4 {
  font-size: 3rem; /* Ukuran font judul */
  margin: 2rem 0; /* Jarak atas dan bawah judul */
  font-weight: 800; /* Ketebalan font */
}

/* Teks deskripsi dalam kotak skill */
.skills-info p {
  font-size: 1.6rem; /* Ukuran font untuk teks skill */
  font-weight: 600; /* Ketebalan font */
  color: black;
}

/* Ikon dalam kotak skill */
.skills-info i {
  font-size: 3rem; /* Ukuran ikon */
  margin-right: 1rem; /* Memberikan jarak antara ikon dan teks */
  color: black;
}

/* PROJECTS  */
.projects {
  background-color: var(--bg-color);
}
#myBtnContainer {
  display: flex; /* Mengatur layout menjadi fleksibel */
  justify-content: center; /* Menyelaraskan tombol di tengah secara horizontal */
  align-items: center; /* Menyelaraskan tombol secara vertikal jika diperlukan */
  margin: 20px 0; /* Memberikan jarak atas dan bawah untuk estetika */
  gap: 1.5rem;
}

/* Pengaturan grid untuk menata kartu proyek */
.projects-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 3rem;
}

/* Styling untuk tombol Review Projects */
.projects-box .btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: var(--main-color);
  color: var(--bg-color);
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.3s ease;
}

.project-card:hover {
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
}

.project-card img {
  max-width: 250px;
  border-radius: 2em;
  object-fit: cover;
}

.project-card h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
}

.project-card p {
  font-size: 1.5rem;
}

/* Menambahkan pengaturan untuk tombol 'See All Project' */
.see-all-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem; /* Memberikan jarak di atas tombol */
}

.see-all-btn-container .btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  margin-top: 2px;
}

/* Contact Editted*/
.contact {
  background-color: var(--second-bg-color);
}
.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.footer {
  background-color: var(--bg-color);
  padding: 50px 0;
}
.footer .social-icons {
  text-align: center;
}
.footer ul {
  text-align: center;
  font-size: 1.8rem;
}
.footer ul li {
  display: inline-block;
  margin-left: 20px;
}
.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}
.footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}
@media (max-width: 1285px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar.active {
    display: block;
  }
  .gradient-btn {
    display: none;
  }
  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }
  .home-content {
    align-items: center;
    text-align: center;
  }
  .home-img img {
    width: 32vw;
  }
  .btn {
    padding: 0.9rem 1.8rem; /* Mengurangi padding sedikit */
    font-size: 1.4rem; /* Menyesuaikan ukuran font */
    min-height: 45px; /* Sesuaikan tinggi tombol */
  }
  .about {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about img {
    width: 52vw;
  }
  .contact form {
    flex-direction: column;
  }
  .experience-container {
    grid-template-columns: 1fr; /* Menjadikan kolom tunggal pada layar kecil */
  }
}
.home-content .poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}
.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}
